#nav-btn{
    position: fixed;
    border: #30302C 1px solid;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #30302C;
    transition: all 0.4s linear;
    
}
#nav-btn:hover{
    border: #DED900 2px solid;
    
}
#nav-btn > div {
    width: 20px;
    height: 3px;
    background: #bababa ;
    margin:  4px 0px;
    transition: all 0.4s linear;
}
#nav-btn:hover div{
    background: #DED900;
}

#nav-slide{
    position: fixed;
    left: -250px;
    top: 60px;
    width: 250px;
    height: 0px;
    background: #141412;
    transition: all 0.4s linear;
}

p{
    color: aliceblue;
}